@import url('https://fonts.cdnfonts.com/css/nunito');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
}
:root{
    --blue-light: #8FB2F5;
    --gray-900: #13131A;
    --gray-800: #16161F;
    --gray-700: #1C1C27;
    --gray-600: #22222F;
    --gray-500: #3B3B54;
    --gray-400: #7F7F98;
    --gray-300: #ABABC4;
    --gray-200: #BFBFD4;
    --gray-100: #FAFAFA;
    --white: #FFFFFF;
    --Nunito: Nunito;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.logo{
    display: flex;
    justify-content: center;
    padding-top: 48px;
}
.logo svg{
    display: flex;
    width: 176px;
    height: 30px;
    padding: 4px 7.553px 4px 8px;
    opacity: 0.8;
    justify-content: center;
}
.hedding{
    display: flex;
    justify-content: center;
}
.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    gap: 56px;
    width: 604px;
}
.title{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}
.title h3{
    color: var(--gray-100);
    text-align: center;
    font-family: var(--Nunito);
    font-size: 50px;
    font-weight: 700;
    line-height: 140%;
}
.title h3 > span{
    color: var(--blue-light);
}
.title p{
    color: var(--gray-200);
    font-size: 28px;
    font-family: var(--Nunito);
    font-weight: 400;
    line-height: 140%;
}
.search-bar{
    max-width: 724px;
    width: 100%;
}
.input{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: var(--Nunito);
}
.input input {
    width: 100%;
    padding: 0px 20px;
    height: 60px;
    background-color: var(--gray-600);
    border: none;
    border-radius: 8px;
    color: var(--gray-100);
    font-family: var(--Nunito);
    font-size: 18px;
}
.select-country {
    width: 350px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--gray-600);
    border-radius: 8px;
    color: var(--gray-100);
    font-family: var(--Nunito);
    border: none;
    font-weight: 600;
    font-size: 16px;
    padding: 5px;
    position: relative;
    cursor: pointer;
    gap: 10px;
}
.select-country li{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 0px;
}
.fa-caret-down{
    rotate: -90deg;
    transition: 0.3s ease-in-out;
}
.rotateArrow{
    rotate: 0deg;
}
.dropDown{
    display: none;
    position: absolute;
    z-index: 3;
}
.dropDown ol{
    width: 300px;
    height: 300px;
    background-color: var(--gray-600);
    border-radius: 8px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.40);
    overflow-y: scroll;
}
.dropDown ol::-webkit-scrollbar{
    width: 5px;
}
.dropDown ol::-webkit-scrollbar-thumb{
    background-color: var(--gray-400);
    border-radius: 4px;
}
.dropDown ol li{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 10px 10px;
    font-family: var(--Nunito);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
    gap: 10px;
    color: var(--gray-200);
}
.dropDown ol li:hover{
    background-color: var(--gray-500);
}
.country-flag{
    height: 22px;
    width: 30px;
    border-radius: 2px;
}

.submitBtn{
    width: 200px;
    height: 60px;
    cursor: pointer;  
    border-radius: 8px;
    line-height: 25px;
    font-weight: 600;
    background: var(--blue-light) !important;
}
.submitBtn::first-letter{
    text-transform: uppercase;
}
.search-list{
    width: 100%;
    background-color: var(--gray-500);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    align-items: start;
    font-family: var(--Nunito);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.40);
    margin-top: 5px;
}
.search-list li{
    display: flex;
    padding: 16px 20px;
    color: var(--gray-100);
    border-bottom: solid 2px var(--gray-600);
    width: 100%;
    cursor: pointer;
    transition: 0.2s;
}
.search-list li:hover{
    background-color: var(--gray-300);
}

